/* @font-face {
  font-family: "BertholdImago";
  src:
    url("/fonts/BertholdImagoMedium.woff2") format("woff2"),
    url("/fonts/BertholdImagoMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MagdaClean";
  src: url("/fonts/MagdaClean.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

:root {
  --font-size-2: 1.2rem;
  --line-height-2: 1.2rem;
  --letter-spacing-2: 0rem;
  --paragraph-spacing-2: 0rem;

  --font-size-3: 2.7rem;
  --line-height-3: 3rem;
  --letter-spacing-3: 0.1rem;
  --paragraph-spacing-3: 0rem;
}

h2,
[typo="h2"] {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
h2 p,
[typo="h2"] p {
  margin-bottom: var(--paragraph-spacing-2);
}

h3,
[typo="h3"] {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
}
h3 p,
[typo="h3"] p {
  margin-bottom: var(--paragraph-spacing-3);
}

/* iPads and other Tablets */
/* @media screen and (min-width: 769px) {
  :root {
    --font-size-2: 3.4rem;
    --line-height-2: 3.4rem;
  }
} */
