:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #333;

  --margin-page: 36px;

  --content-height: calc(100vh - var(--header-height));

  --transition: 1s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  height: 100%;
  font-size: 10px;
  line-height: 1;
  overscroll-behavior: none;
  overflow-anchor: none;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;

  color: var(--foreground);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--font-size-3);
  line-height: var(--line-height-3);

  font-weight: 375;
  overflow: hidden;
}

::selection {
  background: #000;
  color: var(--accent);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--margin-page));
}

button {
  all: unset;
}

a,
a:visited,
button {
  color: #fff;
  text-decoration: none;
  transition: color var(--transition);
  cursor: pointer;
}
a:hover,
button:hover {
  color: var(--accent);
  cursor: pointer;
}

ul,
li {
  all: unset;
}

/* Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  :root {
    --margin-page: 60px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
